<!DOCTYPE HTML>
<html>
    <head>
        <meta charset "utf-8">
        <title>Wise Brothers, Administrative Tasks</title>
        {{!-- add bootstrap, css, js links --}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>