<h3>Daily Tasks and Procedures - Today, {{page}}</h3>

<ul>
    <li>Return phone messages</li>
    <li>Check the <a href="https://email10.godaddy.com/webmail.php">email</a></li>
    <li>Open and process the mail. Input checks and bills.</li>
    <li>Send invoices to the tenants of all four companies</li>
    <li>Renew <a href="https://orlando.craigslist.org/">Craigslist</a> ads</li>
    <li>Check in with Daniel for any tasks or updates</li>
</ul>